.right-side-controls-container {
    display: flex;
    flex-direction: column;
    margin-left: max(20px, 2vmin);
    width: fit-content;
}

/* end turn button */
.end-turn {
    white-space: nowrap;
}