.action-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: max(15px, 1vmin);
    gap: max(10px, 1vmin);
    box-sizing: border-box;
}

#spawn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple2);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple3);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button div {
    transition: transform 0.3s ease;
}

.spell-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    margin-top: var(--spacing-medium1);
}

.spell-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-small2);
    min-height: max(25px, 3vmin);
    background-color: var(--deep-blue);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

.spell-mana-cost {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-small1);
    border: 0.1rem solid transparent;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
    var(--mana-blue),
    var(--sky-blue1),
    var(--sky-blue2)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacing-medium1);
    height: var(--spacing-medium1);

    transform: translate(30%, -30%);
    transition: all 0.25s ease;
}

.spell-card:disabled .spell-mana-cost{
    background: none;
    background-color: var(--greyish-blue);
}

.spell-card:hovered .spell-mana-cost {
    border: 0.1rem solid white;
}

.spell-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.spell-description {
    --end-opacity: 0.9;
    position: absolute;
    left: 4%;
    bottom: 20%;
    width: 50%;
    background-color: var(--deep-blue);
    padding: var(--spacing-small2);
    border-radius: 0.5rem;
    z-index: 1;

    animation: fade-in 0.3s ease-in-out forwards;
}

.action-spell-description {
    --end-opacity: 0.95;
    --animation-duration: 3.6s; /* Default duration */
    position: absolute;
    width: max(40%, 120px);
    height: fit-content;
    left: 85%;
    background-color: var(--deep-blue);
    padding: var(--spacing-small2);
    border-radius: 0.5rem;
    z-index: 1;

    animation: glow 1s ease-in-out infinite alternate, fade-in-out var(--animation-duration) ease-out;
}

.casted-spell-header {
    display: flex;
    justify-content: center;
    gap: max(1vmin, 5px);
    margin-bottom: var(--spacing-small1);
}