#action-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: max(15px, 1vmin);
    gap: max(10px, 1vmin);
    box-sizing: border-box;
}

#spawn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple2);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple3);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button div {
    transition: transform 0.3s ease;
}

.spell-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small2);
    margin-top: var(--spacing-medium1);
}

.spell-description svg {
    width: 0.9rem;

    @media (max-width: 660px) {
        width: 0.7rem;
    }
}

.spell-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-small2);
    width: max(35px, 4vmin);
    height: max(35px, 4vmin);
    background-color: var(--deep-blue);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
    white-space: nowrap;

    transition: width 0.2s ease-in-out;
}

.spell-card.greyed-out:enabled:hover {
    border: 0.16rem solid grey;
}

.spell-card.greyed-out {
    color: grey;
}

.spell-card.greyed-out svg {
    fill: grey;
}

.spell-card:enabled:hover, .spell-card.touched {
    width: max(180px, 22vmin);
    transition: width 0.2s ease-in-out;
}


.spell-card:disabled .spell-mana-cost{
    background: none;
    background-color: var(--greyish-blue);
}

.spell-card:hovered .spell-mana-cost {
    border: 0.1rem solid white;
}

.spell-card-content {
    min-width: 0; /* Allow content to shrink */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.spell-card-name-and-count {
    animation: fade-in 0.3s ease-in-out;
}

.spell-mana-cost {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-small1);
    border: 0.1rem solid transparent;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
    var(--mana-blue),
    var(--sky-blue1),
    var(--sky-blue2)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacing-medium1);
    height: var(--spacing-medium1);

    transform: translate(45%, -45%);
    transition: all 0.25s ease;
}

.casted-spell-header {
    display: flex;
    justify-content: center;
    gap: max(1vmin, 5px);
    margin-bottom: var(--spacing-small1);
}