.grid-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* should be the same as the cell's border */
    border: 0.1rem solid var(--primary-grey2);
    background-color: white;
    margin: var(--spacing-medium2) auto var(--spacing-medium2) auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.3125rem 0.9375rem;
}

.grid-inner {
    display: grid;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

.countdown-number-container {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    height: 80%;
    width: 80%;
    z-index: 2;
    opacity: 0;
    animation: appear-growing-long 0.5s ease-in-out alternate infinite;
}

.countdown-number {
    width: 100%;
    height: 100%;
    font-size: 25vmin;
    text-align: center;      
    pointer-events: none;
    text-shadow: 0rem 0rem 1rem var(--primary-purple3);
}

.turn-swap-image-container {
    position: absolute;
    background-color: transparent;
    height: 80%;
    width: 80%;
    opacity: 0;
    animation: appear-growing-long 1s ease-in-out 2 alternate;
    z-index: 2;
}

.turn-swap-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.game-error {
    position: absolute;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: center;
    color: blanchedalmond;
    user-select: none;
    text-shadow: 1px 1px 2px var(--primary-purple3);
    animation: fade-out 1.5s ease-in-out;
}

#action-spell-description-outer {
    --animation-duration: 3.6s; /* Default duration */
    
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 85%;
    width: max(45%, 150px);
    transition: all 0.3s ease-in-out;
    animation: fade-in-out var(--animation-duration) ease-out;

    @media (max-width: 570px) {
        left: 60%;
    }

    @media (max-width: 400px) {
        left: 50%;
    }
}

#action-spell-description-outer h3 {
    text-shadow: var(--primary-purple3) 1px 0 10px;
    margin-top: 0;
    margin-bottom: var(--spacing-small2);
}

#action-spell-description-inner {
    --end-opacity: 0.95;
    position: relative;
    height: fit-content;
    background-color: var(--deep-blue);
    padding: var(--spacing-small2);
    border-radius: 0.5rem;
    z-index: 1;

    animation: glow 1s ease-in-out infinite alternate;
}

#fatigue-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: max(45%, 170px);
    padding: var(--spacing-small2);
    background-color: var(--deep-blue);
    text-align: center;

    animation: fade-in-out 2s ease-out, glow 1s ease-in-out infinite alternate;
}
