#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start-button {
  width: max(80px, 10vw);
}

.start-button:hover {
  
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
