/* Layout & home page specific styles */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: max(20px, 4vmin);
}

.main-title {
  width: fit-content;
}

.home-buttons-container, .opponent-search-container {
  display: flex;
  align-items: center;
  gap: max(10px, 1vmin);
  width: fit-content;
}

.play {
  color: white;
}

.play:hover{
  border: 1px solid white;
  color: white;
}
