/* Global styles for the whole web app*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(97,59,154,1) 0%, rgba(103,48,185,1) 50%, rgba(98,12,226,1) 100%)
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: max(16px, calc(0.5rem + 1vmin));
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: max(32px, calc(0.5rem + 4vmin));
  line-height: 1.1;
}

h2 {
  font-size: max(28px, calc(0.5rem + 3vmin));
  line-height: 1.1;
}

h3 {
  font-size: max(24px, calc(0.5rem + 2vmin));
  line-height: 1.1;
}

h4 {
  font-size: max(20px, calc(0.5rem + 1.5vmin));
  line-height: 1.1;
}

button, .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover, .button:hover {
  border-color: white;
}
button:focus, .button:focus
button:focus-visible, .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  fill: white;
}

/* #region Custom styles */

.transparent {
  background-color: transparent;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.fit-content {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

/* #endregion Custom styles */

/* #region Custom Components & styles*/

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(25px, 6vmin);
  height: max(25px, 6vmin);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(107, 89, 227);
  padding: 1em;
  border-radius: 0.5em;
  min-width: 20vmin;
  max-width: 50vw;
  text-align: center;

  @media (max-width: 768px) {
    min-width: 80vw;
    max-width: 80vw;
  }
}

.modal-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

.modal-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

/* #endregion Custom Components */

/* #region Keyframes */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #endregion Keyframes */