/* Global styles for the whole web app*/

@import "animations.css";

:root {
  /* colors */
  --primary-purple1: rgba(97, 59, 154);
  --primary-purple2: rgba(103, 48, 185);
  --primary-purple3: rgba(98, 12, 226);
  --primary-pink1: rgb(188, 89, 227);
  --primary-grey1: rgb(200, 200, 200);
  --primary-grey2: rgb(150, 150, 150);
  --primary-grey3: rgb(193, 187, 235);
  --greyish-purple: rgb(93, 83, 151);
  --greyish-blue: rgb(106, 154, 175);
  --primary-black: rgb(26, 26, 26);
  --deep-blue: rgb(0, 60, 128);
  --mana-blue: aqua;
  --sky-blue1: rgb(87, 193, 231);
  --sky-blue2: rgb(136, 208, 240);
  --pure-grey: rgb(128, 128, 128);

  /*spacing*/
  --spacing-small1: max(4px, 0.5vmin);
  --spacing-small2: max(8px, 1vmin);
  --spacing-medium1: max(12px, 1.5vmin);
  --spacing-medium2: max(16px, 2vmin);
  --spacing-medium3: max(24px, 3vmin);
  --spacing-medium4: max(30px, 3.5vmin);

  /*screens (does not work for media queries - only here as an indicator)*/
  --screen-width-very-small: 400px;
  --screen-width-small1: 570px;
  --screen-width-small2: 660px;
  --screen-width-small3: 760px;
  --screen-width-medium: 1200px;
  --screen-width-large: 1900px;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: max(16px, calc(0.5rem + 1vmin));
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    var(--primary-purple1) 0%,
    var(--primary-purple2) 50%,
    var(--primary-purple3) 100%
  );
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;

  @media (max-width: 660px) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;

  @media (max-width: 660px) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.17rem;
  line-height: 1.1;

  @media (max-width: 660px) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1.1;

  @media (max-width: 660px) {
    font-size: 0.85rem;
  }
}

button, .button {
  border-radius: 0.5rem;
  border: 0.16rem solid transparent;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-black);
  cursor: pointer;
  transition: all 0.25s ease;

  @media (max-width: 660px) {
    font-size: 0.7rem;
  }
}
button:hover,.button:hover {
  border-color: white;
}
button:focus,
.button:focus button:focus-visible,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled, .button:disabled {
  border: 0.16rem solid transparent;
  user-select: none;
  cursor: default;
}

.button-secondary {
  border-radius: 0.5rem;
  border: 0.16rem solid transparent;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.25s ease;

  @media (max-width: 660px) {
    font-size: 0.7rem;
  }
}
.button-secondary:hover {
  color: white;
  background-color: var(--primary-black);
}

button:disabled svg,
.button:disabled svg,
.button-secondary svg {
  fill: grey;
}

svg {
  fill: white;
}

.separator {
  height: 0;
  border-top: 0.1rem solid white;
}

/* #region Custom styles */

.tooltip {
  --end-opacity: 0.9;

  position: absolute;
  background-color: var(--deep-blue);
  padding: var(--spacing-small2);
  border-radius: 0.5rem;
  max-width: max(25vmin, 120px);

  animation: fade-in 0.3s ease-in-out forwards;

  @media (max-width: 660px) {
    font-size: 0.75rem;
  }
}

.transparent {
  background-color: transparent;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.fit-content {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.pulse {
  animation: pulse 1s ease infinite alternate;
}

.box-shadow-glow {
  animation: glow 1s ease infinite alternate;
}

/* #endregion Custom styles */

/* #region Custom Components & styles*/

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(25px, 6vmin);
  height: max(25px, 6vmin);
}

.centered-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Modals should always be on top */
}

#modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-purple2);
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: max(20vmin, 120px);
  max-width: 50vw;
  text-align: center;
  z-index: 100;
}

#modal-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

#modal-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

#pixi-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  display: block;
  justify-content: center;
  align-items: center;
}

#tooltip-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  display: block;
}

/* #endregion Custom Components */


