/* Components in the play page */

.page-container {
    display: flex;
    gap: max(30px, 5vmin);
}

.game-menu {
    padding: max(15px, 3vmin);
    background-color: rgb(107, 89, 227);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.board {
    display: grid;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(15, 1fr);
}

.row {
    display: contents;
}

.cell {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    width: max(19px, 4vmin);
    height: max(19px, 4vmin);
}