/* Components in the play page */

/* #region Main containers */

.page-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.main-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 83, 151);
    padding: max(10px, 4vmin);
    border-radius: 1rem;
    box-shadow: 0 0 3vmin 0.25vmin rgba(0, 0, 0, 0.2);
}

.right-side-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: fit-content;
    display: flex;

    @media (max-width: 570px) {
        display: none;
    }
}

.initial-loading {
    width: max(30px, 4vmin);
    height: max(30px, 4vmin);
    margin: auto;
}

/* #endregion */

/* #region Right Side controls / Top controls (mobile) */

.right-side-controls-container {
    display: flex;
    flex-direction: column;
    margin-left: max(20px, 2vmin);
    width: fit-content;
}

/* end turn button */
.end-turn {
    white-space: nowrap;
}

/* #endregion */

/* #region Center components */

.game-top-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: max(15px, 2vmin);
    margin-bottom: max(15px, 2vmin);
}

.countdown-bar-outer {
    border-radius: 1rem;
    border: 0.15rem solid white;
    width: 40%;
    height: max(20px, 3vmin);
    box-sizing: border-box;
    overflow: hidden;
}

.countdown-bar-inner {
    border: 0.15rem solid transparent;
    background-color: rgb(193, 187, 235);
    height: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

.player-mp-hp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hp-container {
    display: flex;
    align-items: center;
    gap: max(8px, 1vmin);
}

.hp-circle-container-outer {
    width: max(25px, 4vmin);
    height: max(25px, 4vmin);
    border: 0.09rem solid white;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    rotate: 180deg;
}

.hp-circle-container-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(180deg,
            rgb(230, 66, 66) 0%,
            rgb(239, 50, 50) 50%,
            rgba(255, 0, 0, 0.642) 100%);
}

.mp-container {
    display: flex;
    gap: max(7px, 0.8vmin);
    width: fit-content;
}

.mp {
    width: max(12px, 1.5vmin);
    height: max(12px, 1.5vmin);
    border: 0rem solid transparent;
    border-radius: 50%;
    background-color: grey;
    transition: background-color 1s ease-in-out;
}

/* Meant to be used for mana points */
.active {
    background-color: aqua;
}

.whose-turn-label {
    margin: 0;
}

.grid-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: max(15px, 2vmin) 0 max(15px, 2vmin) 0;
}

.grid-inner {
    display: grid;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

/* #region Cells*/

.cell {
    background-color: white;
    border: 0.1rem solid rgb(200, 200, 200);
    width: max(25px, 4vmin);
    height: max(25px, 4vmin);
    transition: background-color 0.1s;
    position: relative;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    border: 0.1rem solid blue;
}

.hovered {
    border: 0.1rem solid red;
}

.cell-possible-move {
    background-color: rgb(176, 199, 248, 1);
    animation: half-fade-in 1s infinite alternate-reverse;
}

/* #endregion */

.turn-swap-image-container {
    position: absolute;
    background-color: transparent;
    height: 80%;
    width: 80%;
    opacity: 0;
    animation: appear-growing-long 1s ease-in-out 2 alternate;
}

.turn-swap-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.game-error {
    position: absolute;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: center;
    color: blanchedalmond;
    user-select: none;
    text-shadow: 1px 1px 2px purple;
    animation: fade-out 1.5s ease-in-out;
}

/* #region Action board */

.action-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: max(15px, 1vmin);
    gap: max(10px, 1vmin);
    box-sizing: border-box;
}

#spawn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: rgba(103, 48, 185, 1);
    box-shadow: 0 0 0.8rem 0.1rem rgb(0, 0, 0, 0.2);
}

/* #endregion */

/* #endregion */

