/* Components in the play page */

.page-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.main-inner-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 83, 151);
    padding: max(30px, 4vmin);
    border-radius: 1rem;
    box-shadow: 0 0 3vmin 0.25vmin rgba(0, 0, 0, 0.2);
}

.initial-loading {
    width: max(30px, 4vmin);
    height: max(30px, 4vmin);
    margin: auto;
}

.game-top-info-container {
    display: flex;
    justify-content: space-between;
    gap: max(15px, 2vmin);
    margin-bottom: max(15px, 2vmin);
}

.countdown-bar-outer {
    border-radius: 1rem;
    border: 0.15rem solid white;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden;
}

.countdown-bar-inner {
    border: 0.15rem solid transparent;
    background-color: rgb(193, 187, 235);
    height: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

.whose-turn-label {
    margin: 0;
}

.grid {
    display: grid;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

.cell {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    width: max(19px, 4vmin);
    height: max(19px, 4vmin);
    transition: border 0.15s ease-in-out;
}

/* meant to be used on cells only */
.selectable {
    cursor: pointer;
}

.selectable:hover {
    border: 1px solid blue;
}

.selected {
    border: 1px solid red;
}