/* Components in the play page */

.page-container {
    display: flex;
    gap: max(30px, 5vmin);
    width: fit-content;
    margin: auto;
}

.game-side-panel {
    padding: max(15px, 3vmin);
    border-radius: 5px;
    flex-grow: 1;
    width: 20vmin;
}

.game-menu {
    background-color: rgb(107, 89, 227);
}

.game-info {
    background-color: rgb(188, 89, 227);
}

.grid {
    display: grid;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

.cell {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    width: max(19px, 4vmin);
    height: max(19px, 4vmin);
}