/* Components in the play page */

.page-container {
    display: flex;
    flex-direction: column;
    gap: max(30px, 5vmin);
    width: fit-content;
    margin: auto;
    background-color: rgb(93, 83, 151);
    padding: max(30px, 4vmin);
    border-radius: 1rem;
    box-shadow: 0 0 3vmin 0.25vmin rgba(0, 0, 0, 0.2);
}

.initial-loading {
    width: max(30px, 4vmin);
    height: max(30px, 4vmin);
    margin: auto;
}

.game-top-info-container {
    display: flex;
    justify-content: space-between;
    gap: max(15px, 2vmin);
}

.countdown-bar-outer {
    border-radius: 1rem;
    border: 0.1rem solid white;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden;
}

.countdown-bar-inner {
    border: 0.1rem solid transparent;
    background-color: green;
    height: 100%;
    box-sizing: border-box;
}

.whose-turn-label {
    margin: 0;
}

.grid {
    display: grid;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

.cell {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    width: max(19px, 4vmin);
    height: max(19px, 4vmin);
}