/* Layout & home page specific styles */

#home-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: -10vh;
}

#logo-container {
  position: relative;
  display: flex;
  place-items: center;
  width: fit-content;
}

#logo-container svg {
  filter: drop-shadow(0.1rem 0.2rem 0.1rem rgb(0 0 0 / 0.2));
  width: 50%;
  margin: auto;
}

#logo-container h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  margin: 0;
  transform: translateY(-50%);
  text-shadow: 0.1rem 0.2rem 0.2rem var(--primary-purple3);
  z-index: 2;
}

#home-buttons-container, #opponent-search-container {
  display: flex;
  align-items: center;
  gap: max(10px, 1vmin);
  width: fit-content;
}

.home-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(1vmin, 10px);
  background-color: rgb(107, 89, 227);
  border-radius: 5px;
  padding: max(1vmin, 10px);
  margin-top: max(2vh, 10px);
  color: white;
}

.home-top-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: max(1vmin, 10px);
  background-color: rgb(93, 83, 151);
  border-radius: 5px;
  padding: max(1vmin, 10px);
  margin-top: max(2vh, 10px);
  color: white;
  box-shadow: 0.5vmin 0.5vmin 0.5vmin 0.25vmin rgba(0, 0, 0, 0.2);
  min-width: 25vmin;
  max-width: 50vmin;
}

.home-top-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-top-message-text {
  padding: max(1vmin, 10px);
}

.play {
  color: white;
}

.play:hover{
  border: 1px solid white;
  color: white;
}
