.player-resources-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: max(4px, 0.8vmin);
}

.hp-container {
  display: flex;
  align-items: center;
  gap: max(4px, 0.8vmin);
}

.hp-circle-container-outer {
  width: max(25px, 4vmin);
  height: max(25px, 4vmin);
  border: max(0.09rem, 2px) solid white;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  rotate: 180deg;
}

.hp-circle-container-inner {
  --hp-bg: linear-gradient(
    180deg,
    rgb(230, 66, 66) 0%,
    rgb(239, 50, 50) 50%,
    rgba(255, 0, 0, 0.642) 100%
  );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--hp-bg);
  transition: height 1s ease-in-out, background-color 0.3s ease-in-out;
}

@keyframes hp-bg-flash {
  0%   { background: var(--hp-bg); }
  50%  { background: rgb(218, 0, 218); }
  100% { background: var(--hp-bg); }
}

.hp-circle-container-inner.hp-animate-bg {
  animation: hp-bg-flash 1s;
}

.stamina-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 0.15rem solid white;
  height: max(15px, 2vmin);
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  width: 30%;
  overflow: hidden;
  background-color: var(--primary-grey2);
}

.stamina-container-inner {
  border: 0.15rem solid transparent;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--primary-purple3);
  transition: all 0.5s ease-in-out;
}

.stamina-count {
  font-size: 0.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mp-container {
  display: flex;
  gap: max(4px, 0.8vmin);
  width: fit-content;
}

.mp {
  width: max(12px, 1.5vmin);
  height: max(12px, 1.5vmin);
  border: 0rem solid transparent;
  border-radius: 50%;
  background-color: grey;
  transition: background-color 1s ease-in-out;
}

/* Meant to be used for mana points */
.active {
  background-color: var(--mana-blue);
}
