/* Components in the play page */

/* #region Main containers */

.page-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.main-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--greyish-purple);
    padding: max(10px, 4vmin);
    border-radius: 1rem;
    box-shadow: 0 0 3vmin 0.25vmin rgba(0, 0, 0, 0.2);
}

.right-side-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: fit-content;
    display: flex;

    @media (max-width: 570px) {
        display: none;
    }
}

.initial-loading {
    width: max(30px, 4vmin);
    height: max(30px, 4vmin);
    margin: auto;
}

/* #endregion */

/* #region Right Side controls / Top controls (mobile) */

.right-side-controls-container {
    display: flex;
    flex-direction: column;
    margin-left: max(20px, 2vmin);
    width: fit-content;
}

/* end turn button */
.end-turn {
    white-space: nowrap;
}

/* #endregion */

/* #region Center components */

.game-top-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: max(15px, 2vmin);
    margin-bottom: max(15px, 2vmin);
}

.countdown-bar-outer {
    border-radius: 1rem;
    border: 0.15rem solid white;
    width: 40%;
    height: max(20px, 3vmin);
    box-sizing: border-box;
    overflow: hidden;
}

.countdown-bar-inner {
    border: 0.15rem solid transparent;
    background-color: var(--primary-grey2);
    height: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

.player-mp-hp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hp-container {
    display: flex;
    align-items: center;
    gap: max(8px, 1vmin);
}

.hp-circle-container-outer {
    width: max(25px, 4vmin);
    height: max(25px, 4vmin);
    border: max(0.09rem, 2px) solid white;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    rotate: 180deg;
}

.hp-circle-container-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(180deg,
            rgb(230, 66, 66) 0%,
            rgb(239, 50, 50) 50%,
            rgba(255, 0, 0, 0.642) 100%);

    transition: height 1s ease-in-out;
}

.mp-container {
    display: flex;
    gap: max(7px, 0.8vmin);
    width: fit-content;
}

.mp {
    width: max(12px, 1.5vmin);
    height: max(12px, 1.5vmin);
    border: 0rem solid transparent;
    border-radius: 50%;
    background-color: grey;
    transition: background-color 1s ease-in-out;
}

/* Meant to be used for mana points */
.active {
    background-color: var(--mana-blue);
}

.whose-turn-label {
    margin: 0;
}

#grid-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: max(15px, 2vmin) 0 max(15px, 2vmin) 0;
}

#grid-inner {
    display: grid;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.row {
    display: contents;
}

/* #region Cells*/

.cell {
    --bg: white;
    background-color: var(--bg);
    border: 0.1rem solid var(--primary-grey1);
    width: max(25px, 4vmin);
    height: max(25px, 4vmin);
    transition: background-color 0.1s;
    position: relative;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    border: 0.1rem solid blue;
}

/* Meant to be used on idle cells */
.possible-action {
    animation: half-fade-in 1s infinite alternate-reverse;
}

.hovered {
    border: 0.1rem solid red;
}

.absolute-positioning-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;

    /* Centering */
    transform: translate(-50%, -50%);
}

.selected-indicator {
    --border-angle: 0deg;
    width: 100%;
    height: 100%;
    border: 0.2rem solid transparent;
    background: linear-gradient(var(--bg), var(--bg)) padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--sky-blue1) 0deg,
        blue 90deg,
        var(--sky-blue1) 180deg,
        blue 270deg,
        var(--sky-blue1) 360deg
      ) border-box;
    
    animation: border-angle-rotate 1.8s infinite linear;
}

.attackable-indicator {
    width: 70%;
    height: 70%;
    background-color: transparent;
    animation: fade-in 1s infinite alternate-reverse;
}

.cell-clash-or-spawn-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;

    animation: shadow-expansion-fade 0.6s ease-in-out;
}

.cell-explosion {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 50%;
    border: 0.1rem solid var(--pure-grey);
    z-index: 1;

    /* Centering */
    transform: translate(-50%, -50%);
    animation: expansion-fade-out 0.4s ease-in-out;
}

.mana-bubble {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
    var(--mana-blue),
    var(--sky-blue1),
    var(--sky-blue2)
    );
}

.mana-bubble-pop {
    width: 100%;
    height: 100%;
    background-color: var(--mana-blue);
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 0 1rem 0 var(--mana-blue);

    animation: pulse-up-fade 0.7s ease-in-out;
}

.land-mine {
    width: 90%;
    height: 90%;
    z-index: 1;
}

/* #endregion */

.turn-swap-image-container {
    position: absolute;
    background-color: transparent;
    height: 80%;
    width: 80%;
    opacity: 0;
    animation: appear-growing-long 1s ease-in-out 2 alternate;
    z-index: 2;
}

.turn-swap-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.game-error {
    position: absolute;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: center;
    color: blanchedalmond;
    user-select: none;
    text-shadow: 1px 1px 2px var(--primary-purple3);
    animation: fade-out 1.5s ease-in-out;
}

/* #region Action board */

.action-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: max(15px, 1vmin);
    gap: max(10px, 1vmin);
    box-sizing: border-box;
}

#spawn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple2);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    background-color: var(--primary-purple3);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

#spell-toggle-button div {
    transition: transform 0.3s ease;
}

.spell-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 0.5vmin);
    margin-top: var(--spacing-medium1);
}

.spell-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-small2);
    min-height: max(25px, 3vmin);
    background-color: var(--deep-blue);
    box-shadow: 0 0 0.5rem 0.08rem rgb(0, 0, 0, 0.1);
}

.spell-mana-cost {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing-small1);
    border: 0.1rem solid transparent;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
    var(--mana-blue),
    var(--sky-blue1),
    var(--sky-blue2)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacing-medium1);
    height: var(--spacing-medium1);

    transform: translate(30%, -30%);
    transition: all 0.25s ease;
}

.spell-card:disabled .spell-mana-cost{
    background: none;
    background-color: var(--greyish-blue);
}

.spell-card:hovered .spell-mana-cost {
    border: 0.1rem solid white;
}

.spell-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.spell-description {
    --end-opacity: 0.9;
    position: absolute;
    left: 4%;
    bottom: 20%;
    width: 50%;
    background-color: var(--deep-blue);
    padding: var(--spacing-small2);
    border-radius: 0.5rem;
    z-index: 1;

    animation: fade-in 0.3s ease-in-out forwards;
}

.action-spell-description {
    --end-opacity: 0.95;
    --animation-duration: 3.6s; /* Default duration */
    position: absolute;
    width: max(40%, 120px);
    height: fit-content;
    left: 85%;
    background-color: var(--deep-blue);
    padding: var(--spacing-small2);
    border-radius: 0.5rem;
    z-index: 1;

    animation: glow 1s ease-in-out infinite alternate, fade-in-out var(--animation-duration) ease-out;
}

.casted-spell-header {
    display: flex;
    justify-content: center;
    gap: max(1vmin, 5px);
    margin-bottom: var(--spacing-small1);
}

/* #endregion */

/* #endregion */

